.DS_Store
__pycache__/
**/__pycache__/
*.pyc
*.pyo
/ablations/fusion_ablations/ablation_SSVEP/**
/ablations/stft_params/ablation_results/**
/model/checkpoints/**
/baselines/checkpoints/**
*.csv
**/*.pth
**/*.png